version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/Paris"
  - package-ecosystem: "bundler"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "Europe/Paris"
